<p id="notice"><%= notice %></p>

<p>
  <strong>Ticketattachment:</strong>
  <%= @ticket_attachment.ticketattachment %>
</p>

<%= link_to 'Edit', edit_ticket_attachment_path(@ticket_attachment) %> |
<%= link_to 'Back', ticket_attachments_path %>
