<p id="notice"><%= notice %></p>

<p>
  <strong>Callertype:</strong>
  <%= @caller_type.callertype %>
</p>

<%= link_to 'Edit', edit_caller_type_path(@caller_type) %> |
<%= link_to 'Back', caller_types_path %>
